h1.head{
    color:rgb(111, 164, 143);
    font-family: sans-serif;
    font-weight: 10;
    padding: 3rem;
    text-align:center;
    line-height:1.5;
    margin-bottom:0;
}
h1.head a:hover{
    color:rgb(111, 164, 143);
}
a.projects-current{
    color:rgb(111, 164, 143);
    font-family: sans-serif;
    font-weight: 10;
    text-align:center;
    line-height:1.5;
    margin-bottom:0;
    text-decoration: none;
}
a.projects-other{
    color:rgb(119, 119, 119);
    font-family: sans-serif;
    font-weight: 10;
    text-align:center;
    line-height:1.5;
    margin-bottom:0;
    text-decoration: none;
}
h2{
    font-family: sans-serif;
    font-weight: 390;
    font-size:1.4rem;
}
h3{
    font-family: sans-serif;
    font-weight: 10;
    font-size:1.5rem;
}
h4{
    font-family: sans-serif;
    font-weight: 20;
    font-size:1rem;
    margin-bottom:0;
}
small{
    font-family: sans-serif;
    font-weight: 20;
    font-size:0.8rem;
    margin-bottom:0;
}
.margins-container{
    padding-left:50px;
    padding-right:50px;
    margin-left:auto;
    margin-right:auto;
    max-width: 90%;
}
.gallery{
    padding:1rem;
}
table.centered-text{
    text-align:center;
}
.quad{
    width:25%;
}
a.nav{
    color:rgb(111, 164, 143);
}
.dropbtn {
    background-color: #04aa6d00;
    color: white;
    /*padding: 16px;
    font-size: 16px;*/
    border: none;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/

#map {
    height: 100%;
  }