<nav class="navbar navbar-dark bg-dark navbar-expand-lg" style="padding-left:1.5rem;padding-right:1.5rem;">
    <a class="navbar-brand nav" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item"><div class='dropdown'>
            <button class="dropbtn">Former Students</button>
            <div class="dropdown-content">
              <a href="/exeter_summer">Exeter Summer 2023</a>
            </div></div>
        </li>
    </ul>
    </div>
</nav>